body {
  font-family: sans-serif;
  margin: auto;
}

#Sidenav a {
  position: absolute;
  left: -130px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 0 5px 5px 0;
  text-align:right;
}

#Sidenav a:hover {
  left: 0;
}

#WMESTS {
  top: 20px;
  background-color: #4CAF50;
}

#git {
  top: 80px;
  background-color: #2196F3;
}

#issues {
  top: 140px;
  background-color: #f44336;
}

#features {
  top: 200px;
  background-color: #555
}

