name: Get new request

on:
  workflow_dispatch:
  issues:
    types: [closed]
  schedule:
    - cron: "10 8 * * *"

jobs:
  search:
    runs-on: windows-latest
    env:
      Github_personal_token: ${{ secrets.AU_GITHUB_API_KEY }}

    steps:
      - uses: actions/checkout@v4.2.1
      - name: Authenticate with GitHub
        run: |
          Install-Module PowerShellForGitHub -Force -ErrorAction SilentlyContinue
          Import-Module PowerShellForGitHub
          $tokenEncrypted = ConvertTo-SecureString -String ${{ secrets.AU_GITHUB_API_KEY }} -AsPlainText -Force
          $cred = New-Object System.Management.Automation.PSCredential "anything", $tokenEncrypted
          Set-GitHubAuthentication -Credential $cred
          $cred = $null
        shell: pwsh
      - name: Check requests
        run: |
          Import-Module PowerShellForGitHub
          Set-GitHubConfiguration -DisableTelemetry
          Set-Location ${{ github.workspace }}
          & ".\tools\looknewer.ps1"