name: Get new package

on:
  issues:
    types: [opened]

jobs:
  CheckpackageRequest:
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Get new package
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
          ISSUE_ACTOR: ${{ github.event.issue.user.login }}
        run: |
          Import-Module "${{ github.workspace }}\scripts\new.psm1"
          Set-Location ${{ github.workspace }}
          Find-nextissueGH -packageName "$env:ISSUE_TITLE" -actor "$env:ISSUE_ACTOR"