# .github/workflows/sonarqube.yml
name: SonarQube Analysis

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Historique complet pour Quality Gates

    - name: SonarCloud Scan
      uses: SonarSource/sonarqube-scan-action@v7
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=tunisiano187_Chocolatey-packages
          -Dsonar.organization=tunisiano187
          -Dsonar.sources=.
